<!DOCTYPE html>
<html>
   <head>
    <title> Code</title>
    <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>

   </head>
   <body>
    <!-- {{ ckeditor.load(pkg_type="basic") }} -->
    <!-- <form method="post">
        {{ ckeditor.create() }}
        <input type="submit">
    </form> -->
    <form method="post">
        {{ form.title() }}
        <!-- {{ form.body() }} -->
        {{ form.submit() }}
    </form>
    
     {{ ckeditor.load() }}
     {{ ckeditor.config(name='body') }}
    
   </body>
</html>